@import "tailwindcss";

@theme {
  --breakpoint-laptop: 1020px;
  --breakpoint-desktop: 1440px;
  --font-body: "Inter", sans-serif;
  --font-heading: "Manrope", sans-serif;
  --animate-infinite-scroll: scroll 30s linear infinite;
   /* Brand Colors */
  --color-scintl-green: #7DBD4A;
  --color-scintl-blue: #0A4A6E;
}

@layer base {
  body {
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.4s ease-in-out;
}

.slide-enter-from,
.slide-leave-to {
  transform: translateX(100%);
}

.slide-enter-to,
.slide-leave-from {
  transform: translateX(0);
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}